/**
 * SENAttend - Estilos institucionales SENA
 * Archivo principal con estilos globales y comunes
 * 
 * Este archivo importa todos los módulos de estilos comunes
 * Organizado según principios SOLID - Single Responsibility Principle
 */

/* Importar módulos de estilos comunes */
@import url('variables.css');
@import url('layout.css');
@import url('header.css');
@import url('footer.css');
@import url('forms.css');
@import url('buttons.css');
@import url('alerts.css');
@import url('tables.css');
@import url('pagination.css');
@import url('badges.css');
@import url('icons.css');
