/**
 * SENAttend - Estilos optimizados para Registro de Asistencia
 * 
 * Este archivo importa todos los módulos de asistencia
 * Organizado según principios SOLID - Single Responsibility Principle
 */

/* Importar módulos de asistencia */
@import url('asistencia/variables.css');
@import url('asistencia/selector.css');
@import url('asistencia/loaders.css');
@import url('asistencia/table-controls.css');
@import url('asistencia/table.css');
@import url('asistencia/avatar.css');
@import url('asistencia/estados.css');
@import url('asistencia/badges.css');
@import url('asistencia/observaciones.css');
@import url('asistencia/buttons.css');
@import url('asistencia/alerts.css');
@import url('asistencia/utilities.css');
@import url('asistencia/accessibility.css');
